DatingApp/.vs/DatingApp/v16/Server/sqlite3/db.lock
DatingApp/.vs/DatingApp/DesignTimeBuild/.dtbcache
DatingApp/.vs/DatingApp/v16/Server/sqlite3/storage.ide
DatingApp/.vs/DatingApp/v16/Server/sqlite3/storage.ide-shm
DatingApp/.vs/DatingApp/v16/Server/sqlite3/storage.ide-wal
